body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}

header {
  padding: 20px;
  background: #777;
  color: #eee;
}
header a {
  color: #eee;
}
header a.active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

main {
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #777;
  font-weight: bold;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
  margin: 0;
  justify-content: center;
}
ul li {
  list-style: none;
  border: 3px solid transparent;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-image: url(/more-loading.gif);
  background-size: cover;
}
ul li img {
  width: 100%;
  height: 100%;
}
ul li div a {
  color: #eee;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
ul li div {
  position: absolute;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #eee;
  left: 0;
  top: 100%;
  transition: top 200ms ease-out;
}
ul li:hover div {
  top: calc(100% - 1em - 12px);
}
ul li button {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

main {
  text-align: center;
}
main .view {
  margin: 0;
  padding: 0;
  max-width: 800px;
  max-height: 800px;
  display: inline-block;
}
main .view img {
  width: 100%;
}

main p a {
  color: #777;
  font-weight: bold;
}
